/node_modules
/log
/tmp
/public/assets
/public/packs
/build-image.sh
/Dockerfile
/coverage
/config/application.yml
/config/master.key


# Ignore devspace.yaml file to prevent image rebuilding after config changes
devspace.yaml
