<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px;">
    <h1 class="navbar-brand text-info text-monospace font-weight-bold">Messaging</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav mr-auto font-weight-bold">
            <li class="nav-item">
                <%= link_to 'Dashboard' , dashboard_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Tenants' , tenants_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Messages' , messages_path, class: "nav-link" %>
            </li>
            
        </ul>
        
</nav>